@{
    ViewData["Title"] = "Home Page";
}

<img src="~/Imagens/imgHome.jpg" class="img-fluid" style="width:100%;" />

<div class="homeBackgound2 img-fluid">
    <p class="txtTituloBranco">
        <span style="font-size:42px;font-weight:bold;color:white;font-family:sans-serif">SISTEMA FINANÇAS</span><br />
        <span style="font-size:42px;color:white;font-family:sans-serif">ORAGANIZAÇÃO</span><br />
        <span style="font-size:18px;color:white;font-family:sans-serif">Especialistas em Controle<br /> de Finanças & Comercial, Fusões &<br />Incorporações.</span>
    </p>
</div>